<div>
  <div class="img">
    <div class="d-flex align-items-center h-100">
      <div
        class="container d-flex flex-column justify-content-center text-white"
      >
        <h4>KDB Industry</h4>
        <h1 class="display-1">Ristrutturazioni di serramenti in legno</h1>
      </div>
    </div>
  </div>
  <div class="container d-flex gap-5 chiSiamoDiv my-5 py-5">
    <div>
      <h1 style="white-space: nowrap">Chi siamo</h1>
    </div>
    <div class="px-5 w-75">
      <p>
        Il ripristino del serramento in legno è conveniente, i risultati sono
        eccellenti e garantiti nel tempo. Per privati, condomini e azienda.
        SERVIZIO CHIAVI IN MANO.
      </p>
      <div class="d-flex justify-content-between mt-5">
        <div>
          <img src="../../assets/Icone svg/icon-euro.svg" alt="" />
          <span class="mx-2 h5">Conveniente</span>
        </div>
        <div>
          <img src="../../assets/Icone svg/icon-quality.svg" alt="" /><span
            class="mx-2 h5"
            >Risultati eccellenti</span
          >
        </div>
        <div>
          <img src="../../assets/Icone svg/icon-crono.svg" alt="" /><span
            class="mx-2 h5"
            >Duraturi nel tempo</span
          >
        </div>
      </div>
      <button class="btn bg-btn my-4">RICHIEDI UN PRVENTIVO GRATUITO!</button>
    </div>
  </div>
</div>
