<div class="body">
  <div class="header">
    <div class="container d-flex align-items-center h-100">
      <div>MILANO - 338.4278288</div>
      <div class="brescia">BRESCIA - 338.4278288</div>
    </div>
  </div>
  <div class="nav">
    <div class="container d-flex align-items-center">
      <div class="logo">
        <img src="../../assets/logo-kdb.png" alt="" />
      </div>
      <div class="links">
        <ul class="d-flex linksList">
          <li>Chi siamo</li>
          <li>Lavorazioni</li>
          <li>Produzione Serramenti</li>
          <li>Progetti e Realizzazioni</li>
          <li>Area tecnica</li>
          <li>
            <button type="button" class="contactBtn">
              <b>Contattaci</b>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
