<div class="productionContainer">
  <div class="container d-flex py-5">
    <div class="px-5 position-relative textColor">
      <div class="border-top"></div>

      <h1 class="my-3">Produzione serramenti</h1>
      <p class="my-5">
        Le accurate fasi di lavorazione con l’utilizzo di macchinari ad alta
        tecnologia ed a C.N. con ottimizzazione computerizzata delle commesse,
        oltre al controllo della Qualità e delle finiture durante tutta la
        lavorazione, permettono di far fronte a tutte le richieste della
        Clientela con massima celerità e Qualità nel risultato.
      </p>
    </div>
    <div>
      <img src="../../assets/produzione e serramenti.png" alt="" />
    </div>
  </div>
</div>
