<div class="custom-row d-flex">
  <div class="card">
    <div class="custom-work work">
      <div class="front">
        <div class="border-top"></div>
        <h2>Serramento vecchio</h2>
      </div>
      <div class="back">
        <span class="px-5">
          Dopo lo smontaggio al serramento viene tolta la ferramenta e quindi
          sverniciato ad immersione.
        </span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="custom-work work">
      <div class="front front2">
        <div class="border-top"></div>
        <h2>Opere di falegnameria</h2>
      </div>
      <div class="back back2">
        <span class="py-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, porro.
          Odit numquam nemo provident tenetur perspiciatis esse quae dolor sed
          porro blanditiis, qui nihil architecto ab totam, dignissimos quod
          error.
        </span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="custom-work work">
      <div class="front front3">
        <div class="border-top"></div>
        <h2>Verniciatura</h2>
      </div>
      <div class="back back3">
        <span class="py-5"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum saepe
          dolorum dolor dignissimos suscipit accusantium maiores fugiat aliquid
          similique officiis! Quae obcaecati, quod ut facilis exercitationem
          voluptate facere at dolorum?</span
        >
      </div>
    </div>
  </div>
</div>
<div class="custom-row d-flex">
  <div class="card">
    <div class="custom-work work">
      <div class="front front4">
        <div class="border-top"></div>
        <h2>Serramento ristrutturato</h2>
      </div>
      <div class="back back4">
        <span class="py-5"
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat
          dolore tempora aut earum asperiores dolores provident omnis soluta.
          Cumque ut doloribus quas. Dolor architecto et quas possimus, illum
          nostrum magni?</span
        >
      </div>
    </div>
  </div>
  <div class="card">
    <div class="custom-work work">
      <div class="front front5">
        <div class="border-top"></div>
        <h2>Scelta colore</h2>
      </div>
      <div class="back back5">
        <span class="py-5"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nemo
          sapiente dignissimos ut nihil sit, voluptatem distinctio? Numquam
          accusamus tempora sint reprehenderit eius, ratione dicta laboriosam
          labore dignissimos maiores at.</span
        >
      </div>
    </div>
  </div>
  <div class="card">
    <div class="custom-work work">
      <div class="front front6">
        <div class="border-top"></div>
        <h2>Montaggio</h2>
      </div>
      <div class="back back6">
        <span class="py-5"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
          harum quam deserunt porro. Dolor, ducimus! Doloribus obcaecati dicta
          porro est dignissimos inventore, consectetur consequuntur dolore
          aliquid delectus, tenetur doloremque. Sit!</span
        >
      </div>
    </div>
  </div>
</div>
